/* Define a root with variables */
:root{
    --text-black:rgb(53, 53, 53);
    --text-ligth: #706b6b;
    --primary: #7f82a2;
}

*{
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

picture{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 99%;
    padding-top: 20px;
}

.header .logo{
    max-width: 150px;
}

.header .navbar ul{
    display: flex;
    list-style: none;
}

.header .navbar ul>*{
    margin: 0 20px;
    font-size: 17px;
}

.header .navbar ul li a{
    text-decoration: none;
    color: var(--text-ligth);
}

.header .navbar ul li a span{
    position: absolute;
    transform: rotate(90deg);
}
.btn{
    border: none;
    padding: 10px 30px;
    color: white;
    background-color: var(--primary);
    /* Que tan gorda es la letra */
    font-weight: 700;
    font-size: 1.6em;
    border-radius: 5px;
}

.start{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Get the background from ../assets/hero-bg.png */
    background-image: url('../assets/img/hero-bg.png');
    background-size: 100vw 800px;
}

.start >*{
    margin-top: 50px;
}

.start .imgstart{
    max-width: 600px;
}

.start .startbtns{
    display: flex;
    margin-top: 30px;
}


.btn.start{
    background-color: white;
    color:var(--text-black);
}

.start .welcome{
    font-size: 5em;
    font-weight: 100;
    color: var(--text-black);
}

.start .welcome span{
    color: var(--primary);
}

.start .startdescription{
    font-size: 2em;
    color: var(--text-ligth);
    margin-top: 20px;
}

.first{
    display: flex;
    flex-direction: row;
    margin-top: 90px;
}

.first .one{
    margin: 20px 40px;
    max-width: 250px;
}

.first .one .iconone{
    width: 50px;
    height: 50px;
    background-color: var(--primary);
}

.first .one h2{
    color: var(--text-black);
    font-size: 2.4em;
    font-weight: 700;
}

.first .one p{
    color: var(--text-black);
    font-size: 1.5em;
}

.first .one >*{
    margin-top: 20px;
    text-wrap: wrap;
}

.second{
    display: flex;
    flex-direction: row;
}

.second .two{
    margin: 150px 10px;
    padding: 20px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.second .two >*{
    margin-top: 20px;
}

.second .two .icontwo{
    margin-top: 0;
    width: 50px;
    height: 50px;
    background-color: var(--primary);
}

.second .two h3{
    font-size:1.8em;
}

.two.active{
    background-color: var(--primary);
    color: white;
}

.two.active .icontwo{
    background-color: white;
}

.team{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.team >*{
    margin-top: 30px;
    text-wrap: wrap;
}

.team h1{
    font-size: 4.5em;
    font-weight: 100;
    color: var(--text-black);
}

.team .teamdescription{
    font-size: 1.7em;
    color: var(--text-ligth);
    text-align: center;
    width: 70%;
}

.team .teamcards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.team .teamcards .teamcard{
    margin:20px 15px;
    margin-bottom: 200px;
    width: 450px;
    height: 450px;
    border-radius: 10px;
    z-index:0;
}

.team .teamcards .teamcard::after{
    width: 420px;
    height: 120px;
    /* Importante */
    position: absolute;
    content: "";
    background-color: white;
    /* Trasslate */
    transform: translate(15px, 400px);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2.2em;
    color: var(--text-black);
    z-index: 1;
}

.team .teamcards .teamcard::before{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 420px;
    height: 120px;
    transform: translate(15px, 425px);
    z-index: 2;
    font-size: 1.7em;
    color: var(--text-ligth);
    font-weight: 500;
}

.team .teamcards #team1::after{
    /* Set as content the h1 and a p */
    content: "Walter White";
}

.team .teamcards #team2::after{
    content: "Sarah Johnson";
}

.team .teamcards #team3::after{
    content: "William Anderson";
}

.team .teamcards #team1::before{
    content: "Chief Executive Officer";
}

.team .teamcards #team2::before{
    content: "Product Manager";
}

.team .teamcards #team3::before{
    content: "CTO";
}

.team .teamcards #team1{
    background-image: url('../assets/img/team/team-1.jpg');
    background-size: cover;
}

.team .teamcards #team2{
    background-image: url('../assets/img/team/team-2.jpg');
    background-size: cover;
}

.team .teamcards #team3{
    background-image: url('../assets/img/team/team-3.jpg');
    background-size: cover;
}