/* Define a root with variables */
:root{
    --text-black:rgb(53, 53, 53);
    --text-ligth: #706b6b;
    --primary: #7f82a2;
}

*{
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

picture{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 99%;
    padding-top: 20px;
}

.header .logo{
    max-width: 150px;
}

.header .navbar ul{
    display: flex;
    list-style: none;
}

.header .navbar ul>*{
    margin: 0 20px;
    font-size: 17px;
}

.header .navbar ul li a{
    text-decoration: none;
    color: var(--text-ligth);
}

.header .navbar ul li a span{
    position: absolute;
    transform: rotate(90deg);
}
.btn{
    border: none;
    padding: 10px 30px;
    color: white;
    background-color: var(--primary);
    /* Que tan gorda es la letra */
    font-weight: 700;
    font-size: 1.6em;
    border-radius: 5px;
}

.start{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Get the background from ../assets/hero-bg.png */
    background-image: url('../assets/img/hero-bg.png');
    background-size: 100vw 800px;
}

.start >*{
    margin-top: 50px;
}

.start .imgstart{
    max-width: 600px;
}

.start .startbtns{
    display: flex;
    margin-top: 30px;
}


.btn.start{
    background-color: white;
    color:var(--text-black);
}

.start .welcome{
    font-size: 5em;
    font-weight: 100;
    color: var(--text-black);
}

.start .welcome span{
    color: var(--primary);
}

.start .startdescription{
    font-size: 2em;
    color: var(--text-ligth);
    margin-top: 20px;
}